* {
    margin: 0px;
    padding: 0px;
    font-family: roboto, arial, sans-serif;
}

.nav-container {
    background-color: #1f2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.header-link {
    color: #E5E7EB; 
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.block-one {
    background-color: #1f2937;
    padding: 50px;

    display: flex;
    justify-content: space-between;
    
}

.one-text {
    font-size: 18px;
    color: #E5E7EB;   
    width: 500px;
    padding-bottom: 10px;
}

.sign-up1 {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 24px;
    border-style: none;
    border-radius: 10px;
}


h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding-bottom: 5px;
}


ul {
    list-style: none;
}