* {
    margin: 0px;
    padding: 0px;
    font-family: roboto, arial, sans-serif;
}

.nav-container {
    background-color: #1f2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.header-link {
    color: #E5E7EB; 
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.block-one {
    background-color: #1f2937;
    padding: 50px;

    display: flex;
    justify-content: space-between;
    
}

.one-text {
    font-size: 18px;
    color: #E5E7EB;   
    width: 500px;
    padding-bottom: 10px;
}

.sign-up1 {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    padding: 8px 30px;
    border-style: none;
    border-radius: 10px;
}

.box {
    width: 500px;
    height: 220px;
    background-color: #686a6c;
    color: #f9faf8;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.block-two {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.block-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block1,
.block2,
.block3,
.block4 {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    background: transparent;
}

.image-box img,
.block1 img,
.block2 img,
.block3 img,
.block4 img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.subtext {
    text-align: center;
    font-size: 16px;
    color: #5f6061;
    width: 150px;
    margin-top: 8px;
    margin-bottom: 100px;
}

.block-three {
    background-color: #e5e7eb;
    height: 100%;
    padding: 150px;
}

.quote {
    font-size: 36px;
    font-style: light-italic;
    text-align: center;
    font-color: #1f2937
}

.attribution {
    font-weight: bold;
    font-size: 26px;
    text-align: right;
}

.block-four {
    background-color: #fff;
    height: 100%;
    padding: 100px;
}

.action-box {
    background-color: #3882f6;
    color: #f9faf8;
    height: 150px;
    border-radius: 10px;
    padding-left: 100px;

    display:flex;
    align-items: center;
    justify-content: space-around;
}

.action-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.action {
    font-size: 24px;
    font-weight: bold;
}

.sign-up2 {
    background-color: #3882f6; 
    color: #f9faf8;
    font-size: 16px;
    padding: 8px 30px;
    border: white solid 2px;
    border-radius: 10px;
    
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding-bottom: 5px;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}